@page "/Usuarios/UsuariosList"
@inject UsuarioService usuarioService
@inject NavigationManager Navigation
@inject IJSRuntime JS
@using System.ComponentModel.DataAnnotations

<div class="d-flex justify-content-center mt-4">
    <div class="bg-white rounded shadow p-4 w-300" style="max-width: 700px;">
        <h4 class="text-center mb-4">Listado de Usuarios</h4>

        <table class="table table-bordered table-striped w-100 m-0">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in usuarios)
                {
                    <tr>
                        <td>@user.Nombre</td>
                        <td>@user.Apellido</td>
                        <td>@user.Correo</td>
                        <td>@user.Rol</td>
                        <td>
                            <button class="btn btn-sm btn-danger" @onclick="() => EliminarUsuario(user.Id)">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





@code {
    private List<Usuario>? usuarios = new();

    protected override async Task OnInitializedAsync()
    {
        usuarios = await usuarioService.ObtenerTodosAsync();
    }

    private async Task EliminarUsuario(int id)
    {
        await usuarioService.EliminarAsync(id);
        usuarios = await usuarioService.ObtenerTodosAsync();
    }
}
